<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="businessObjects">
			<sectionGroup name="crystalReports">
				<section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="EMPRESA" value="CARTORIOAVASCONCELOS"/>
		<add key="AMBIENTE" value="P"/>
		<add key="CIDADE" value="São Luís - MA"/>
		<add key="NOME_OFICIO" value="Cartório Agostinho Vasconcelos"/>
    <add key="NOME_OFICIO2" value="4ª Zona - Cohab Anil"/>
		<add key="NOME_OFICIAL" value="Enoch Ribeiro de Vasconcelos"/>
		<add key="ENDERECO" value="Centro comercial da Cohab – Anil"/>
    <add key="PRAZO_PROCLAMAS" value="15"/> <!-- EM DIAS -->
    <add key="DIZERES_PROCLAMAS" value="Oficial de registro de Casamento da {OFICIO}, nesta capital, FAZ SABER, a quem interessar, que {CONJUGE1}, e {CONJUGE2}, querem habilitacão para casamento. Que tiver conhecimento de algum impedimento e/ou causa suspensiva (art. 1521 e 1523), do Código Civil, poderá apresentá-lo, por escrito perante este cartório."/>
    <add key="DIZERES_HABILITACAO" value="CERTIFICO que, sendo publicado e Edital de Proclamas, recomendados pela Lei, não apareceu, dentro do prazo legal, qualquer pessoa, opondo-se ao CASAMENTO {DE1} nubemte {CONJUGE1} e {DE2} nubente {CONJUGE2}, não existindo impedimento ao casamento, estão os habilitados a contrair núpcias, nos termos do art. 1525 e itens seguintes do Código Civil Brasileiro, pelo regime {REGIME}, {NOVOSNOMES}."/>
    
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
		<add key="CrystalImageCleaner-Sleep" value="60000"/>
		<add key="CrystalImageCleaner-Age" value="120000"/>
	</appSettings>
	<connectionStrings>
		<add name="CARTORIOAVASCONCELOS_T" connectionString="server=localhost;user id=root;password=;database=bdcartorio" providerName="System.Data.Oledb"/>
		<add name="CARTORIOAVASCONCELOS_H" connectionString="server=174.122.209.53;PORT=3309;user id=anascred;password=anascred;database=bdcartorio" providerName="System.Data.Oledb"/>
		<add name="CARTORIOAVASCONCELOS_P" connectionString="server=www.luanpereira.com;user id=sqlconscartorio;password=mtc791;database=bdcartorio" providerName="System.Data.Oledb"/>
	</connectionStrings>
	<system.web>
    <pages validateRequest="false" /> 
		<customErrors mode="Off"/>
		<globalization uiCulture="pt" culture="pt-BR"/>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=5.1.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
			<buildProviders>
				<add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<httpHandlers>
		</httpHandlers>
	</system.web>
	<businessObjects>
		<crystalReports>
			<rptBuildProvider>
				<add embedRptInResource="true"/>
			</rptBuildProvider>
		</crystalReports>
	</businessObjects>
	<system.webServer>
		<handlers>
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>
